@model WebAppSchedule.Models.Stage2

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/stepsScripts")
}

@Html.ValidationSummary()

@using (Html.BeginForm())
{

    <div class="Title">
        <center><font color="white"><h2>Web App Schedule</h2></font></center>
    </div>

    <div class="clearfix"></div>

    <div class="CentreBox1">
        <center>
            <div class="form-horizontal">
                <br />
               @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*-------------cust id----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                    </div>
                </div>               

                @*-------------date----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*-------------name----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                @*-------------address----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>               

                @*-------------email----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*-------------mobile----------------*@
                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Insert" />
                        <button type="button" onclick="location.href='@Url.Action("Step2")'">Update</button>
                        <button type="button" onclick="location.href='@Url.Action("Step2")'">Delete</button>
                        <button type="button" onclick="location.href='@Url.Action("Step2")'">Select</button>
                    </div>
                </div>
            </div>
        </center>
    </div>
}